<div class="container theme-showcase" role="main">

    <div class="jumbotron">
        <h1>NoNodeBots</h1>
        <h2>Robotics In Your Browser</h2>
        <p>
            <a href="http://nodebots.io/">NodeBots</a> are great but they are even better when they have a UI and you can publish your app on the Chrome Web Store for others to install and use.
        </p>
        <p>
            NoNodeBots (Not Only NodeBots) takes the Node out of Nodebots and will show you how you can run <a href="https://github.com/rwaldron/johnny-five">Johnny-Five</a> in your browser using <a href="http://browserify.org/">browserify</a> and Chrome Apps without having to run a node instance.
        </p>
        <p>
            This approach unleashes powerful HTML5 tech like:
        </p>
        <ul>
            <li>Video processing using the webcam</li>
            <li>p2p remote control using the dataChannel/webRTC</li>
            <li>Telepresense using webRTC</li>
            <li>Speech recognition using the Web Speech API</li>
            <li>Speech synthesis using the Web Speech Synthesis API</li>
            <li>Mesh networking &amp; hive-mind intelligence using dataChannel/webRTC</li>
        </ul>
        <p>
            <a href="#/setup" class="btn btn-primary btn-lg" role="button">Setup your robot &raquo;</a>
            <a href="#/robot/garrows" class="btn btn-primary btn-lg" role="button">Control a robot &raquo;</a>
            <a href="http://github.com/garrows/nonodebots" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a>
        </p>
    </div>

</div>