<div class="container theme-showcase" role="main">
    <h1>Robot</h1>
    <div id="robot-control"></div>
    <div id="robot-options">
        <ul>
            <li>
                <label class="checkbox">
                    <input type="checkbox" ng-model="robotService.listenToHumans"> Listen to humans
                </label>
            </li>
            <li>
                <label class="checkbox">
                    <input type="checkbox" ng-model="robotService.trackFaces"> Look for faces
                </label>
            </li>
            <li>
                <label class="checkbox">
                    <input type="checkbox" ng-model="robotService.trackColors"> Look for colors
                </label>
            </li>
        </ul>
    </div>
    <div id="speech">
        <div ng-show="robotService.speechRecognitionListening && !robotService.listenToHumans">Robot waiting</div>
        <div ng-show="robotService.speechRecognitionListening && robotService.listenToHumans">Robot listening</div>
        <div ng-hide="robotService.speechRecognitionListening">Robot not listening</div>
        <ul>
            <li ng-repeat="speech in robotService.recognisedSpeech">
                {{speech.transcript}}
            </li>
        </ul>
    </div>
</div>